body {
	background-color: aliceblue;

}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 100px;
	color: bisque;
	margin-top: 200px;
}

.text {
	font-size: 50px;
	font-family: serif;
}

.Link {
	font-family: serif;
	font-size: 40px;
}